include README.rst
include requirements.txt
recursive-include core_parser_app/static *
recursive-include core_parser_app/templates *
recursive-include core_parser_app/tools/parser/static *
recursive-include core_parser_app/tools/parser/templates *
recursive-include core_parser_app/tools/modules/diffusion/resources *
recursive-include core_parser_app/tools/parser/tests *
recursive-include core_parser_app/tools/modules/resources *
