include README.rst
include requirements.txt
include requirements.core.txt
recursive-include core_parser_app/static *
recursive-include core_parser_app/templates *
recursive-include core_parser_app/tools/parser/static *
recursive-include core_parser_app/tools/parser/templates *
recursive-include core_parser_app/tools/modules/static *
recursive-include core_parser_app/tools/modules/templates *
