<input type="date" id="{{ id }}"
       {% if use == "readonly" %} disabled {% endif %}
       class="default {% if use %} {{ use | escape }}{% endif %}"
    {% if value %} value="{{ value | escape }}"{% else %} value=""{% endif %}
    {% if placeholder != "" %} placeholder="{{ placeholder }}"{% endif %}
    {% if fixed %} disabled {% endif %} />
{% if tooltip != "" %}
<div class="tooltip-use"><i class="fas fa-question-circle"></i>
  <span class="tooltip-text">{{tooltip}}</span>
</div>
{% endif %}