<!--FIXME: use common box.html-->
{% extends 'core_main_app/_render/admin/theme/tools/box.html' %}

{% block box_title %}{% endblock %}

{% block box_tools %}
    {% include 'core_main_app/common/buttons/go_to.html' with url=data.url_back_to label='Back to Versions' %}
{% endblock %}


{% block box_body %}

{% if not data.read_only %}
<p>
    Click on an element from the following tree to associate it with a module. Elements will then be replaced by the
    chosen module during the curation process.
</p>
{% else %}
<br/>
{% endif %}

{% autoescape off %}
<div>
{{data.xsdTree}}
</div>
{% endautoescape %}

<div id="templateid" style="display:none;">{{data.object.id}}</div>
{% endblock %}
